// SCSS variables
// ---------------------------------------

$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  break-3: 1024,  // 1024px  ~ Desktop up
  break-4: 1600   // 1600px  ~ Large desktop up
) !default;

$rootsizes: (
  rootsize-0: 12,   // 24px line-height body text
  rootsize-1: 14,   // 28px line-height body text
  rootsize-2: 15,   // 30px line-height body text
  rootsize-3: 17,   // 34px line-height body text
  rootsize-4: 19    // 38px line-height body text
) !default;

$measures: (
  measure-0: 500,  // 500px wide
  measure-1: 550,  // 550px wide
  measure-2: 600,  // 600px wide
  measure-3: 680,  // 680px wide
  measure-4: 750   // 750px wide
) !default;

$maxwidths: (
  width-0: 500,  // 500px wide
  width-1: 600,  // 600px wide
  width-2: 800,  // 800px wide
  width-3: 1100, // 110px wide
  width-4: 1300  // 1300px wide
) !default;

$gutterwidths: (
  small: 1rem,
  medium: 2rem,
  large: 4rem
) !default;

$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
) !default;

$headingtype: (
  font-family: 'Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.66
) !default;

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
) !default;

$headingColour: #2E2E2E !default;
$bodyColour: #494949 !default;
$linkColour: #0E58F5 !default;
$hoverColour: #0B348B !default;
$captionColour: #BDC8CC !default;
$white: #FFFFFF !default;

// Background colours.
$backgroundColour: #FCFCFC !default;
$codeBackgroundColour: #F5F4F2 !default;
