_site
.sass-cache
.jekyll-metadata
.DS_Store
Gemfile.lock
**/Gemfile.lock
btc-*.gem
env
collections/spreadsheet_to_resources_mds/env
client_secret.json
scripts/spreadsheet_to_resource_mds/__pycache__/
scripts/spreadsheet_to_resources_mds/client_secret.json
idea/
__pycache__/
