$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$accentColour: #FF9900;
$headerBackgroundColour: #000;
$footerBackgroundColour: #000;

$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: #FF9900;
$hoverColour: #163541;
$captionColour: #a8adac;
$white: #ffffff;

$bodytype: (
  font-family: 'Roboto,Helvetica Neue,Helvetica,sans-serif',
  regular: 250,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: 'Roboto,Helvetica Neue,Helvetica,sans-serif',
  regular: 500,
  bold: 300,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Roboto,Helvetica Neue,Helvetica,sans-serif',
  regular: 400,
  cap-height: 0.68
);
