body {
  background: $backgroundColour;
  color: $bodyColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding-bottom: 1rem;

  a:hover {
    color: $backgroundColour;
  }

  .logo {
    @include flex(0 0 auto);
  }
  .container {
    background-color: $headerBackgroundColour;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.header .nav {
  margin-left: auto;
  margin-right: auto;
}

.feature {
  padding-bottom: 0.4rem;
  margin-bottom: 1.6rem;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  min-height: 300px;
  position: relative;

  .feature_bg {
    @include flex-direction(row);
    @include justify-content(center);
    background-repeat: repeat-x;
    background-size: contain;
    min-width: 100%;
    min-height: 300px;
    position: absolute;
    z-index: -1;
  }
}

.logo {
  display: inline-block;
  max-height: 4rem;
  @include flexbox;
  @include align-items(center);
  img {
    max-height: 5rem;
  }
}

.nav {
  a {
    padding: .2rem;
  }
  &--social a {
    display: inline-block;
    line-height: 1;
  }
}

.small {
  color: $captionColour;
  display: inline-block;
}

.footer {
  background: $footerBackgroundColour;
  color: $captionColour;

  a {
    color: $captionColour;
    &:hover {
      color: $backgroundColour;
    }
  }
  .container {
    // @include flex-wrap(wrap);
    padding: 1rem 0;
    display: flex;
  }
  .copyright {
    margin-left: 5%;
  }
  .footer-links {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav--paginator {
  @include flexbox;
  @include justify-content(space-between);
  color: $captionColour;
  text-align: center;
}

.pagination {
  min-width: 20%;
}

.main {
  @include flexbox;
  @include flex-direction(column);
  @include flex(1, 0, auto);
  @include justify-content(flex-start);
  margin-bottom: 1.6rem;
  @include breakpoint(break-1) {
    @include justify-content(center);
    @include flex-direction(row);
  }
}

.header,
.feature {
  @include flex(0, 0, auto);
}

.content {
  @include breakpoint(break-1) {
    width: 62%;
  }
}

.homepage-content {
  text-align: center;
  max-width: 800px;
}

.share .button {
  margin-right: .3rem;
}

.aside {
  @include breakpoint(break-1) {
    max-width: 34%;
    margin-left: 4%;
    @include flex(1, 0, auto);
    opacity: 0.5;
    transition: opacity .1s;
    .section {
      position: sticky;
      top: 0;
    }
    &--left {
      margin-left: 0;
      margin-right: 4%;
      order: -1;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.section {
  margin: 0;
}

.about {
  font-size: 18px;
}

.list {
  list-style: none;
  &--nav {
    overflow: hidden;
    transition: .2s;
  }
  .item--post,
  .item--result,
  .item--category {
    margin-left: 0;
  }
}

.page-header {
  text-align: center;

  h1 {
    font-size: 50px;
    margin-bottom: .8rem;
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.home-buttons-top {
  display: flex;
  height: 50%;

  img {
    max-width: 225px;
    max-height: 225px;
  }
}

.home-buttons-bottom {
  display: flex;
  height: 50%;
  margin-bottom: 2rem;

  img {
    max-width: 225px;
    max-height: 225px;
  }
}

.home-buttons-left {
  float: left;
  height: 100%;
  width: 100%;
}

.home-buttons-right {
  float: right;
  height: 100%;
  width: 100%;
}

.blog-button:hover {
  background: url("assets/graphics.theblog_hover.png")
}

.resource-page {
  text-align: center;

  hr {
    width: 36%;
  }

  li {
    margin-bottom: 2.5rem;
  }
}

.authors-page {
  text-align: center;

  hr {
    width: 36%;
    margin-bottom: 0.5rem;
  }
}

.source-link {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.source-link-no-excerpt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resource-list-meta {
  font-size: 17px;

  h4 {
    margin-bottom: 0.25rem;
  }
}

.item {
  &--nav {
    @include breakpoint(break-1) {
      margin-left: .4rem;
      display: inline-block;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  &--current {
    a {
      color: $captionColour;
    }
  }
}

a .icon {
  transition: fill .1s;
  &:hover {
    fill: currentColor;
  }
}

.icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  fill: CurrentColor;
}

img {
  max-width: 100%;
  height: auto;
}

.figure {
  line-height: 0;
  &--left {
    float: left;
    padding-right: .8rem;
  }
  &--right {
    float: right;
    text-align: right;
    padding-left: .8rem;
  }
  &--center {
    text-align: center;
    clear: both;
  }
}

.video,
.map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.figure,
.video,
.map,
.form {
  margin-bottom: .8rem;
}

audio,
video {
  width: 100%;
}

button,
.button,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="color"],
textarea,
select {
  padding: .6rem 1.2rem;
  margin-bottom: .6rem;
  transition: color .1s, background-color .1s, border .1s;
  line-height: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  .icon {
    margin: 0 0 .35rem;
  }
}

.button--nav {
  @include breakpoint(break-1) {
    display: none;
  }
  background: none;
  color: $linkColour;
  margin-bottom: 0;
  min-height: 4rem;
  min-width: 4rem;
  &:hover,
  &:focus {
    box-shadow: none;
    color: $hoverColour;
  }
}

a,
button,
.button,
input,
textarea,
select {
  &:focus,
  &:hover:focus {
    outline: solid .12rem $focusColour;
    outline-offset: -.12rem;
  }
}

a:hover:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="color"],
textarea,
select {
  width: 100%;
  border: 1px solid $captionColour;
  &:hover {
    border-color: $bodyColour;
  }
}

select {
  background: $codeBackgroundColour;
}

textarea {
    resize: vertical;
}

label {
  @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
}

code {
  padding: .12rem .2rem;
  color: $headingColour;
}

pre code {
  padding: 0;
}

.required {
  color: red;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder {
  opacity: 0.5;
}
:-moz-placeholder {
  opacity: 0.5;
}

::selection {
  background: $headingColour;
  color: $backgroundColour;
  text-shadow: none;
}


// Sassline overrides
.typeset {
  a > code {
    text-shadow: none;
  }
  .button,
  button {
    background-image: none;
    text-shadow: none;
    color: $backgroundColour;
    &:hover,
    &:active,
    &:focus {
      background-image: none;
      color: $backgroundColour;
    }
  }
  hr {
    width: 100%;
  }
  li {
    > p {
      padding: 0;
      margin: 0;
    }
  }
  .nav a {
    padding-left: 0;
    padding-right: 0;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  pre {
    white-space: pre;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 500px){
  .feature {
    max-height: 100px;
    .feature_bg {
      display: none;
    }
  }
}
