<div class="authors-page">
  {% for author in site.authors %}
    <a href="{{ author.url }}"> {{ author.name }}</a>
    {% include space-dot-space.html %}

    {% assign total_works = 0 %}
    {%- assign author_posts = site.posts
      | where: "author", author.name -%}
    {%- assign total_works = total_works | plus: author_posts.size -%}

    {%- assign author_writings = site.writings
      | where: "author", author.name -%}
    {%- assign total_works = total_works | plus: author_writings.size -%}

    {%- assign author_medias = site.multimedia
      | where: "author", author.name -%}
    {%- assign total_works = total_works | plus: author_medias.size -%}

    {% if total_works > 1 %}
      {{ total_works }} works
    {% endif %}

    {% if total_works == 1 %}
      {{ total_works }} work
    {% endif %}
    <br/>
  {% endfor %}
</div>
