<footer class="footer">
  <div class="container">
    <div class="copyright typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    <div class="about">
      <a href="/about/">About</a>
      {% include space-dot-space.html %}
      <a href="/authors">Authors</a>
      {% include space-dot-space.html %}
      <a href="http://www.github.com/adamtache/learn-bitcoin/">GitHub</a>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
