{% if page.categories %}
  {% capture categories %}
  {% endcapture %}
{% endif %}

<small class="small post-meta">
  <div class="meta">

    {% include meta-author-date.html %}
    {% include space-dot-space.html %}
    {{ categories | append: &nbsp;&middot;&nbsp; }}
    {% for category in page.categories %}
      <span class="label label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">#{{ category }}</a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  </div>

</small>
