---
layout: default
---

<main class="main container">
  <div class="page-header">

    <h1>{{ page.name }}</h1>

    <br/>
    <h2>Works by this author</h2>
    <hr>
    {%- assign author_posts = site.posts
      | where: "author", page.name -%}
    {%- for post in author_posts -%}
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% assign post_date = post.date | date: '%y%m%d' %}
      {% if post_date != "111111" %}
        {% include space-dot-space.html %}
        <time datetime="{{ post.date | date_to_xmlschema }}" class="time">
          {{ post.date | date_to_string }}
        </time>
      {% endif %}
      <hr>
    {%- endfor -%}

    {%- assign author_writings = site.writings
      | where: "author", page.name -%}
    {%- for writing in author_writings -%}
      <a href="{{ writing.url }}">{{ writing.title }}</a>
      {% if writing.date != "1111-11-11" %}
        {% include space-dot-space.html %}
        <time datetime="{{ writing.date | date_to_xmlschema }}" class="time">
          {{ writing.date | date_to_string }}
        </time>
      {% endif %}
    <hr>
    {%- endfor -%}

    {%- assign author_medias = site.multimedia
      | where: "author", page.name -%}
    {%- for media in author_medias -%}
      <a href="{{ media.url }}">{{ media.title }}</a>
      {% assign media_date = media.date | date: '%y%m%d' %}
      {% if media_date != "111111" %}
        {% include space-dot-space.html %}
        <time datetime="{{ media.date | date_to_xmlschema }}" class="time">
          {{ media.date | date_to_string }}
        </time>
      {% endif %}
    <hr>
    {%- endfor -%}

    <br/>
    {% include button.html text="All authors" link="/authors" %}

  </div>
  {% include analytics.html %}
</main>

{% include footer.html %}
