---
layout: default
---

<main class="main container">
  <article class="article article--post content typeset">
    <div class="resource-page">

      <h3> {{ page.title }} </h3>
      {% if page.excerpt != "" and page.excerpt != blank %}
        <h6> "{{ page.excerpt }}" </h6>
      {% endif %}
      <div class="source-link">
        <a href="{{ page.external_url }}"> Source </a>
      </div>

      {% include resource-meta.html %}
    </div>
  </article>
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
</main>

{% include footer.html %}
