---
layout: default
---

<main class="main container">
  <article class="article article--post content typeset">
    <div class="resource-page">

      <h3> {{ page.title }} </h3>
      {% if page.excerpt == "" or page.excerpt == blank or page.excerpt.size < 5 %}
        <div class="source-link-no-excerpt">
          <a href="{{ page.external_url }}"> Source </a>
        </div>
      {% else %}
        <h6> "{{ page.excerpt }}" </h6>

        <div class="source-link">
          <a href="{{ page.external_url }}"> Source </a>
        </div>
      {% endif %}

      {% include resource-meta.html %}
    </div>
  </article>
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
</main>

{% include footer.html %}
