---
layout: default
---

<main class="main container">
  <article class="article article--post content typeset">
    <div class="resource-page">

      <h3> {{ page.title }} </h3>
      {% if page.excerpt == "" %}
        <div class="source-link-no-excerpt">
          <a href="{{ page.external_url }}"> Link </a>
        </div>
      {% else %}
        <h6> {{ page.excerpt }} </h6>

        <div class="source-link">
          <a href="{{ page.external_url }}"> Link </a>
        </div>
      {% endif %}

      {% include resource-meta.html %}
    </div>
  </article>
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  {% include analytics.html %}
</main>

{% include footer.html %}
